body * {
  background: #fefefe;
  font-family: "Gloria Hallelujah", cursive;
  outline: none;
}

ol,
ul {
  padding-left: 30px;
 
}

button {
  background-color: Transparent;
  cursor: pointer;
  outline: none;
}

li button {
  border: none;
  margin: 2px auto;
}

li button:hover {
  letter-spacing: 2px;
}

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #d0c6e3;
  border: none;
  float: left;
  font-size: 34px;
border-radius: 10px;
  line-height: 34px;
  height: 100px;
  margin: 3px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-board {
  flex: none; 
}

.game-info {
  margin-left: 20px;
  width: 300px;
}

.bold {
  font-weight: bold;
  font-size: 1em;
}

.highlight {
  background-color: #F7786B;
}

.reverse {
  background: none;
  border: 2px black solid;
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px
}

.reverse:hover {
  border-radius: 15px 205px 15px 200px/205px 15px 205px 15px;
}